body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0px;
    padding-top: 120px;
    background-color: black;
}
p{
    font-family: Montserrat, Arial;
    color: white;
    margin: 0;
}