.project-info{
text-indent: 30px;
height: 1000px;
width: 1900px;
font-size: 32px;
height: 400px;
margin-bottom: 100px;
}
.project-info-text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}